
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */

.txt-center{
    text-align: center;
}

.text-primary{
    color: #FD6E0A;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color:#474747; 
}

/* .dark-3{
    color:#757575;
} */

.section-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    border: none;
}

.secondary-background{
    background-color: #FFF8F3;
}

/* Header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-tile{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin-right: 50px;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner Styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 180px;
}

.banner-content{
    max-width: 580px;
}

.banner-greetings{
 font-size: 45px;
 font-weight: 600;

}

.banner-title{
    font-size: 80px;
    font-weight: bold;
}

.banner-profile-picture{
    width: 584px;
    height: 676px;
}

/* main Style*/
main{
    max-width: 1140px;
    margin: 0 auto;
    
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About */
.about{
    border-radius: 10px;
    padding: 130px 150px ;
    text-align: center;
    
}

.item-description{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
}

/* What I do section */
.class-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}


/* Resume container */
.resume-container{
    display: flex;
    gap: 24px;
}

.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
    color:#757575;
}
.resume hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-column-title, .experience-title{
    margin-bottom: 30px;
}

.section-title{
    font-weight: bold;
    font-size: 30px;
}

.resume-download{
    margin-top: 50px;
}

/* footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"],  footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}